.actions{
 display:block;
    width: 20px;
    background-color: #f5f4f4;
    color: #000000;
    font-size: 18px;
    margin-top: 300px;
    
    text-decoration: none;
}
a{
    
    
    text-decoration: none;
    color: #888888;
    border-radius: 5px;
    margin: 8px;
}
a:hover{
    
    background-size: 40px;
    background-color: #4e4e4e;
    color: #e0e0e0;
    transition: 0.3sec ease;
}
#table.Actions:hover{
   
    
    transform: scale(10s) ;
    color: #b26060;
} 

body{
    
    
   background-color: #e0e0e0;
   
}
h1{
   color: #111111;
   font-family: Plus Jakarta Sans, sans-serif;
   
}
#header{
    align-self: center;
}

.container{
            display: flex;
            flex-direction: column;
            margin-top:  30px ;
            font-size: 15px;
            font-family: Plus Jakarta Sans, sans-serif;
            display: block;
            
            background-color:  #e0e0e0;
            color:#111111;
            padding: 20px;    
    }
option.applied{
    
    font-family: Plus Jakarta Sans, sans-serif;
    color: rgb(63, 105, 244);
}
option.approved{
    
    font-family: Plus Jakarta Sans, sans-serif;
    color: green;
}
option.rejected{
    
    font-family: Plus Jakarta Sans, sans-serif;
    color: red;
}
option.pending{
    
    font-family: Plus Jakarta Sans, sans-serif;
    color: rgb(70, 70, 70);
}
button{
     display:inline-block;
    
    width: 160px ;
   
    background-color: #111111;
    color: #e0e0e0;
    font-size: 20px;
    
    margin-top: 30px;
    border-radius: 5px;
    text-decoration: none;
}
button:hover{
   
    
   transform: scale(1.1s);
    color: #111111;
    background-color: #888888;
}
#add-link{
    display:inline-block;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-color: #111111;
    width: 40px ;
    size: 50px;
    background-color: #111111;
    color: #e0e0e0;
    font-size: 20px;
    
    margin-top: 100px;
    border-radius: 5px;
    text-decoration: none;
}
#add-link:hover{
   
    
   transform: scale(1.1s);
    color: #111111;
    background-color: #888888;
}
#add-link2{
    display:inline-block;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-color: #111111;
    width: 55px ;
    size: 50px;
    background-color: #111111;
    color: #e0e0e0;
    font-size: 20px;
    
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
}
#add-link2:hover{
   
    
   transform: scale(1.1s);
    color: #111111;
    background-color: #888888;
}
.search{
    display: inline;
    padding-right: 80px;
    margin: 20px;
    width: 150px;
    
    
}

th{
    padding-left:30px;
    padding-top:50px;
    padding-bottom:10px;
    

    
}
td{
    padding-left: 35px;
    
}
input{
    display: block;
    align-items: left;
    padding-left: 20px ;
    width: 400px;
    margin: 15px;
}
