<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="container">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nemo velit incidunt. Eligendi ab deserunt dolorum iure hic, dolorem libero sint earum odit, excepturi quo laboriosam pariatur vitae aspernatur sequi.</p>
    <a class="btn" href="/">BACK</a>
</body>
</html>