<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="container">
    
    {% include "_header.html" %}
    <h1 class="about">About Us</h1>
    <p>Hi, I'm Uzair Bashir, a university student and self-taught developer. I build web apps with Python and Flask, and I'm learning C# for backend and cloud development. Alongside coding, I run Simplicity Maker, my graphic design brand, where I create visual designs for clients. I enjoy turning ideas into tools that are simple, clean and useful. This Job Application Tracker is one of my projects.</p>
    <a class="btn btn_2" href="/">BACK</a>
</body>
</html>