<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="container">
    {% include "_header.html" %}
    <h1 class="contact">Contact</h1>
    <h6>GITHUB| <a href="https://github.com/simplicitymaker11-crypto" target="_blank" rel="noopener noreferrer">github.com/simplicitymaker11-crypto</a></h6>
<h6>DEVELOPER| UZAIR BASHIR</h6>
    <a class="btn btn_2" href="/">BACK</a>
</body>
</html>