<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body class="container">
   
    <div class="header">
    <a href="/">HOME</a>
    <a href="/about">ABOUT US</a>
    <a href="/contact">CONTACT</a>
    <input class="search" type="text">
    
    </div>
   
    <h1 >Job Applications Tracker</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID   </th>
                <th>Company</th>
                <th>Role</th>
                <th>Date</th>
                <th>Status</th>
                <div id="actions">
                <th >Actions</th>
                </div>

            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ job.company }}</td>
                <td>{{ job.role }}</td>
                <td>{{ job.date_applied.strftime('%Y-%m-%d')}}</td>
                <td>{{ job.status }}</td>
                <td>
                    <a href="/delete/{{ job.id }}">Delete</a>
                    <a href="/edit/{{ job.id }}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
    <a id="add-link" href="/add">Add</a>
</body>
</html>